@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900 bg-gray-100;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
}
@keyframes move-right {
  0% {
    transform: translateX(-400px) rotate(20deg);
  }
  100% {
    transform: translateX(calc(100vw + 400px)) rotate(20deg);
  }
}

.animate-move-right {
  animation: move-right 2s linear infinite;
}
